/*==================================================
 * Custom Components V2.0
 * Cohen Coombs 2022 (c) All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Cohen Coombs, 2022
==================================================*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('elements.css');
:root {
  --background: #111111;
  --component: #151515;
  --text: #ffffff;
  --subtext: #ccc;
  --link: #3355ff;
  --theme: #3150ff;
  --slider: #bbbbbb;
  --shade-1: #111111;
  --shade-2: #222222;
  --shade-3: #333333;
  --theme-red: rgb(220, 30, 50);
  --theme-green: rgb(60, 200, 80);
  --theme-orange: rgb(255, 200, 30);
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --component: #eeeeee;
    --text: #000000;
    --subtext: #222222;
    --link: #3355ff;
    --theme: #3150ff;
    --slider: #bbbbbb;
    --shade-1: #ffffff;
    --shade-2: #eeeeee;
    --shade-3: #dddddd;
    --theme-red: rgb(220, 30, 50);
    --theme-green: rgb(60, 200, 80);
    --theme-orange: rgb(255, 200, 30);
  }
}
* {
  box-sizing: border-box;
  transition: 0.4s;
}
::selection {
  background-color: rgba(100, 150, 255, 0.3);
  color: var(--text);
}
body {
  background: var(--background);
  color: var(--text);
  padding: 1rem;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}
.app-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20vw 0 20vw;
}
@media screen and (max-width: 768px) {
  .app-container {
    padding: 1rem;
    margin-top: 2rem;
  }
}

:root {
  --toolbar: 8.5rem;
  --sidebar: 14rem;
}

.container {
  padding: 2rem calc(var(--sidebar) + 3rem) 2rem calc(var(--toolbar) + 3rem);
}

.container button {
  height: fit-content !important;
  width: fit-content !important;
  padding: 0 30px !important;
  font-size: 0.9rem !important;
  opacity: 1 !important;
  background: var(--theme) !important;
  color: white !important;
}

.hidden * {
  display: none;
}

.input {
  display: none;
  width: 100%; 
  padding: 1rem; 
  font-size: 1.1rem;
}
.sidebar {
  width: var(--sidebar);
  right: 0;
  top: 0;
  height: 100%;
  position: fixed;
  background-color: var(--component);
  padding: 1rem;
}
.sidebar .flex {
  font-weight: 700;
  margin-top: 1rem;
}

.tool {
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 10px !important;
  background: var(--shade-2) !important;
  background-color: var(--shade-2) !important;
  width: 3rem !important;
  height: 3rem !important;
}
.toolbar {
  width: var(--toolbar);
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  background-color: var(--component);
  padding: 2rem 1rem;
}
.toolbar button {
  display: block;
  background: var(--shade-2) !important;
  background-color: var(--shade-2) !important;
  width: 100%;
}

#category {
  display: flex;
  justify-content: space-between;
}
#category button {
  height: fit-content !important;
  width: 100% !important;
  padding: 0 30px !important;
  margin-left: 1rem;
  font-size: 0.9rem !important;
}

#palette * {
  display: flex !important;
  justify-content: space-between !important;
}
#palette button {
  padding: 1rem !important;
  margin-right: 0.5rem;
}
#palette button:first-child, #category button:first-child  {
  margin-left: 0 !important;
}
canvas {
  border-radius: 6px;
  background: var(--component) !important;
  background-color: var(--component) !important;
  margin-top: 1rem;
}
#render {
  background-color: var(--theme);
  padding: 1rem;
  border-radius: 100rem;
  width: 4rem;
  height: 4rem;
  color: white;
  display: block !important;
}